<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件循环</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="../node_modules/vue/dist/vue.js"></script>

</head>
<body>
<div id="app">
    <panel :type="article.type" @say-title="parentSay" v-for=" (article,index) in articles" :key="index">
        <div slot="header">{{article.head}}</div>
        <div slot="title"><span v-html="article.title"></span></div>
        <div slot="content">
            {{article.content}}
        </div>
        <div v-if="article.auth" slot="author">{{article.auth}}</div>
    </panel>
    <panel type="primary"></panel>
</div>

<template id="panel">
    <div>
        <div class="card text-white  mb-3 " :class="color" style="max-width: 18rem;">
            <div class="card-header" ref="header">
                <slot name="header">头</slot>
            </div>
            <div class="card-body bg-danger">
                <h5 class="card-title">
                    <slot name="title">标题</slot>
                </h5>
                <p class="card-text">
                    <slot name="content">内容区啊</slot>
                </p>
            </div>
            <div class="card-footer">
                <slot name="author">匿名</slot>
                <button @click="say">点我说出标题</button>
            </div>
        </div>
    </div>
</template>

<script>

    let panel = {

        template: '#panel',
        props: {
            type: {
                type: [String],
                default: 'default'
            }
        },
        computed: {
            color() {
                return 'bg-' + this.type;
            }
        },
        methods: {
            say() {
                this.$emit('say-title', this.$refs.header.innerText);
//                console.log('ref is '+this.$refs);
            }
        }
    };

    let vm = new Vue({
        el: '#app',
        data: {
            articles: [
                {type: 'warning', title: '<h2>vue</h2>', content: '一些文章', auth: 'lr',head:'V'},
                {type: 'primary', title: '<h2>rect</h2>', content: '一些文章', auth: 'lr',head:'R'},
                {type: 'danger', title: '<h2>angular</h2>', content: '一些文章', auth: 'lr',head:'A'}
            ]
        },
        components: {
            panel
        },
        methods: {
            parentSay(title) {
                alert(title);
            }
        }

    });
</script>
</body>
</html>