<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>07</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="./05promise-ajax.js"></script>
    <script src="../node_modules/axios/dist/axios.js"></script>

</head>
<body>
<div id="app">
    <!--bootstrap 栅格化布局  默认12列，有一些框架可能是8列或者24列-->
    <!--常见的样式  基本样式+增强样式-->
    <!--default 灰色   success 绿色   danger 红色  warning 警告色 info 浅蓝色  primary 蓝色-->
    <!--vue的框架 iview  mint-ui-->
    <div class="container">
        <!--每一行又会拥有12列-->
        <div class="row">
            <table class="table table-hover table-bordered">
                <caption class="h2 text-center text-warning" style="caption-side:top">购物车表格名字</caption>
                <tr>
                    <th>全选 <input type="checkbox" v-model="switchCheckAll"></th>
                    <td>商品</td>
                    <td>单价</td>
                    <td>数量</td>
                    <td>小计</td>
                    <td>操作</td>
                </tr>
                <!--数据填充-->
                <tr v-for="(product,index) in products">
                    <td>
                        <input type="checkbox" v-model="product.isSelected">
                    </td>
                    <!--:和v-bind等价  指令：动态绑定数据-->
                    <td>
                        <img :src="product.productImg" :title="product.productName">
                        {{product.productName}}
                    </td>
                    <td>
                        {{product.productPrice}}
                    </td>
                    <td>
                        <input type="number" v-model.number.lazy="product.productCount" min="1">
                    </td>
                    <!--过滤器 元数据不变的情况，只是改变显示的效果 管道符-->
                    <td>
                        {{product.productPrice*product.productCount | toFixed}}
                    </td>
                    <td>
                        <button class="btn btn-danger" @click="remove(product)">删除</button>
                    </td>
                </tr>
                <tr>

                    <td colspan="6">总价格：{{sum|toFixed}}</td>
                </tr>
            </table>

        </div>
    </div>

</div>

<script>
    let vm = new Vue({
        el: '#app',
        created() {
            this.getData();
        },
        methods: {
            /**
             *获取数据
             */
            getData() {
                axios.get('./file/carts.json').then(res => {
                    vm.products = res.data;

                }, err => {
                    console.log('err');
                })
            },

            /**
             * 删除按钮的逻辑
             */
            remove(product) {
                this.products = this.products.filter(function (item) {
                    return item !== product;
                });
            },


        },
        data: {
            products: []

        },
        filters: {
            toFixed(input, argument) {
                if (undefined === argument)
                    argument = 2;
                return ' ￥ ' + input.toFixed(argument);
            }

        },

        //当给全选复制时，要影响其他人的变化，当页面刷新时，获取全选值，是根据下面的checkbox的计算出来的结果给全选赋值
        computed: {
            /**
             * 全选状态改变
             */
            switchCheckAll: {
                //当products值发生变化时会重新计算，有缓存
                get() {//其中的this依然指向实例  默认吗v-model会获取switchCheckAll的值 所以会调用get方法
                    return this.products.every(p => p.isSelected);
                },
                set(val) {//当我们给checkbox赋值的时候
                    this.products.forEach(p => p.isSelected = val);
                }

            },
            /**
             * 计算总价
             */
            sum: {//sum的结果会被缓存，如果以来的数据没有变化就不会重新执行
                get() {
                    return this.products.reduce(function (prev, next) {
                        if (!next.isSelected) return prev;
                        return prev + next.productCount * next.productPrice;
                    }, 0)
                }
            }

        }


    });
</script>

</body>
</html>